<launch>
  <arg name="lat" default="61.50361"/>
  <arg name="lon" default="23.77500"/>
  <arg name="alt" default="110.0"/>
  <arg name="freq" default="10"/>

  <node name="indoor_pos" pkg="indoor_pos" exec="indoor_pos" namespace='$(env DRONE_DEVICE_ID)'>
    <param name="home_lat" value="$(var lat)"/>
    <param name="home_lon" value="$(var lon)"/>
    <param name="home_alt" value="$(var alt)"/>
    <param name="frequency" value="$(var freq)"/>
  </node>
</launch>

